<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".YourApplicationClass"
        tools:replace="android:fullBackupContent"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceRecognitionApp"
        tools:targetApi="31">

        <!-- Cloudinary API Key -->
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://394176383539522:FeTpR1vWXzb2noa2hzqsNxYFWCM@dfys2b3e7" />

        <!-- Google Sign-In API Key -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.CLIENT_ID"
            android:value="@string/default_web_client_id" />

        <!-- Other Activities -->
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".DashboardActivity" android:exported="false" />


        <!-- ScanActivity is now the launch activity -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
